.button
    max-width: 359px
    width: 100%
    padding: 16px 0 17px
    color: $light
    cursor: pointer
    border: none
    outline: none
    border-radius: 8px
    &_link
        color: $light
    &_primary
        background: $link
    &_secondary 
        background: transparent
        padding: 15px 0
        border: 1px solid $light
.form
    width: 100%
    &__item
        &_password
            position: relative
    &__title
        margin-bottom: 18px
        font-weight: 500
        font-size: 21px
        color: $link
        padding-left: 2px
    &__button
        margin-top: 36px
input[type="range"]
    -webkit-appearance: none
    border-radius: 8px
    height: 9px
    outline: none
    margin-bottom: 8px
    background: $lightGrey
    &::-webkit-slider-thumb
        -webkit-appearance: none
        width: 24px
        height: 24px
        border-radius: 100%
        background-color: $link
.input
    width: 100%
    padding: 15px 0 16px 17px
    border: 1px solid $lightGrey
    border-radius: 8px
    outline: none
    line-height: 100%
    margin-bottom: 16px
    &_date
        padding-left: 55px
        &_img
            position: absolute
            top: 16%
            left: 3.5%
    &:placeholder
        color: $lightGrey
    &_password
        &+label
            position: absolute
            right: 14px
            top: 50%
            width: 22px
            height: 14px
            margin-top: -16px
            background-repeat: no-repeat 
            background-position: center
    &_checkbox
        opacity: 0
        z-index: -1
        position: absolute
        width: 1%
        &+label
            display: inline-flex
            align-items: center
            user-select: none
            display: inline-flex
            align-items: center
            &::before
                content: ''
                display: inline-block
                width: 32px
                height: 32px
                border-radius: 8px
                background-color: transparent
                background-image: none
                border: 1px solid $lightGrey
                margin-right: 9px
                background-repeat: no-repeat
                background-position:  center
        &:checked
            &+label
                &::before
                    background-image: url(../img/tick.svg)
.table
    width: 100%
    margin-bottom: 17px
    &__row
        display: flex
        justify-content: space-between
        &_head
            margin-bottom: 0
    &__head
        color: $lightGrey
        max-width: 34px
        width: 100%
        min-height: 34px
        display: flex
        align-items: center
        justify-content: center
    &__elem
        color: $link
        max-width: 34px
        width: 100%
        min-height: 34px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 100%
        background: transparent
        cursor: pointer
        margin-bottom: 2px
        &_none
            color: $lightGrey
        &_today
            background: $link
            color: $light
        &:hover
            border: 1px solid $link